<div class="container">
    <h2 class="text-center mt-3 text-decoration-underline">Department</h2>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-3">
                <input type="text" required name class="form-control my-2" placeholder="Enter Name">
            </div>

            <div class="col-md-4">
                <input type="text" required created by name class="form-control my-2"
                    placeholder="Enter Created by Name">
                </div>

                <div class="col-md-4">
                <input type="text" required created at name class="form-control my-2"
                    placeholder="Enter Created at Name">
                </div>

                <div class="btn btn-center">
                <button type="submit" class="btn btn-dark">save</button>
            </div>
            </div>
            </form>
        </div>


    </div>

    <div class="col-md-6 table-responsive m-3 ">
        <div class="table">
            <thead>
                <th>Name</th>
                <th>Created_By</th>
                <th>Created_At</th>
            </thead>
            <tbody>

            </tbody>
        </div>
    </div>
</div>