<div class="container-fluid">
    <div class="row">
        <div class="header d-flex justify-content-center p-3">
            <h1>Daily Manifactur Form</h1>
        </div>
        <div class="col-md-12">
            <form class="p-5">
                <!-- Daily Manifactur  -->
                <!--  -->
                <!-- Name and Date -->
                <div class="mb-3 row ">
                    <div class="col-md-6 d-flex justify-content-between ">
                        <input type="text" class="form-control" placeholder="Product Name">
                    </div>
                    <!--  -->
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="batch" placeholder="Batch">
                    </div>
                </div>
                <!-- Total Product & Filling -->
                <div class="mb-3 row d-flex justify-content-between">
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="" placeholder="Total Product">
                    </div>
                    <!--  -->
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="inputDate" placeholder="">
                    </div>
                    <!--  -->
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="Filling" placeholder="Filling">
                    </div>
                </div>
                <!-- Status & Bag -->
                <div class="mb-3 row d-flex justify-content-around">
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="packType" placeholder="Packaging Type">
                    </div>
                    <!--  -->
                    <div class="col-md-3 d-flex justify-content-around ">
                        <select id="inputState" class="form-select" placeholder="Status">
                            <option>Production</option>
                            <option>Packaging</option>
                            <option>Dispacked</option>
                        </select>
                    </div>
                    <!--  -->
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="Filling" placeholder="Bag">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="header d-flex justify-content-center p-3">
                <h1>Daily Manifactur Information</h1>
            </div>
            <table class="table">
                <thead>
                    <th>Prod. Name</th>
                    <th>Date</th>
                    <th>Batch</th>
                    <th>Total product</th>
                    <th>Filling</th>
                    <th>Packaging Type</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sop</td>
                        <td>10/11/2022</td>
                        <td>Batch 1</td>
                        <td>200</td>
                        <td>-</td>
                        <td>Production</td>
                    </tr>
                    <tr>
                        <td>Sop</td>
                        <td>10/11/2022</td>
                        <td>Batch 1</td>
                        <td>200</td>
                        <td>-</td>
                        <td>Production</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>