<div class="container">
    <h2 class="text-center text-decoration-underline">Order Table</h2>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-3">
                <input type="text" required customer name class="form-control my-2" placeholder="Enter Customer Name">
            </div>

           <div class="col-md-3">
                <input type="text" required product name class="form-control my-2" placeholder="Enter Product name">
            </div>

            <div class="col-md-3">
                <input type="number" class="form-control my-2" placeholder="Enter Order in Kg">
            </div>

            <div class="col-md-3">
                <input type="text" required created by name class="form-control my-2" placeholder="Created by Name">
            </div>
<div class="btn btn-center">
    <button type="submit" class="btn btn-dark pe-4 ps-4 m-3 fw-bold fs-4">save</button>

</div>
            </div>
            </form>
        </div>

        
    </div>

    <div class="col-md-6 table-responsive m-3 ">
        <div class="table">
            <thead>
                <th>Customer_Name</th>
                <th>Product_name</th> 
                <th>Order in_Kg</th> 
                <th>Created_By</th>
                <th>Created_At</th>
            </thead>
            <tbody>

            </tbody>
        </div>
    </div>
</div>