<div class="container-fluid">
    <div class="row">
        <div class="userForm">

        </div>
        <div class="header d-flex justify-content-center p-3">
            <h1>User Form</h1>
        </div>
        <div class="col-md-12">
            <form class="p-5">
                <!-- user  -->
                <!-- Name and Number -->
                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-md-6 d-flex justify-content-around">
                        <!-- <label for="userName" class="form-label">Name : </label> -->
                        <input type="text" class="form-control" id="userName" placeholder="User Name">
                    </div>
                    <div class="col-md-5 d-flex justify-content-around">
                        <!-- <label for="userNumber" class="form-label">Mobile No. : </label> -->
                        <input type="number" class="form-control" id="userNumber" placeholder="Mobile No.">
                    </div>
                </div>
                <!-- Address -->
                <div class="mb-3">
                    <!-- <label for="userAddress" class="form-label">Address : </label> -->
                    <input type="text" class="form-control" id="userAddress" placeholder="Address">
                </div>
                <!-- Email -->
                <div class="mb-3">
                    <!-- <label for="userEmail" class="form-label">Email : </label> -->
                    <input type="email" class="form-control" id="userEmail" placeholder="Email Address"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <!-- Created By and Created At -->
                <div class="mb-3 row ">
                    <div class="col-md-6 d-flex justify-content-around ">
                        <!-- <label for="inputState" class="form-label">Created_By : </label> -->
                        <select id="inputState" class="form-select" placeholder="Created By">
                            <option>Choose</option>
                            <option>Managment</option>
                            <option>Sales</option>
                        </select>
                    </div>
                    <!--  -->
                    <div class="col-md-5">
                        <input type="date" class="form-control" id="inputDate" placeholder="">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="header d-flex justify-content-center p-3">
                <h1>User Information</h1>
            </div>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No.</th>
                    <th>Address</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Mandar</td>
                        <td>M@gmail.com</td>
                        <td>456123789</td>
                        <td>Sangli</td>
                    </tr>
                    <tr>
                        <td>Mandar</td>
                        <td>M@gmail.com</td>
                        <td>456123789</td>
                        <td>Sangli</td>
                    </tr>
                    <tr>
                        <td>Mandar</td>
                        <td>M@gmail.com</td>
                        <td>456123789</td>
                        <td>Sangli</td>
                    </tr>
                    <tr>
                        <td>Mandar</td>
                        <td>M@gmail.com</td>
                        <td>456123789</td>
                        <td>Sangli</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>