<div class="container">
    <h1 class="text-center fs-2 text-primary">Employee</h1>
    <hr>
    <div class="row">
      
        <div class="col-md-12">
            <form>
                <div class="row mb-3 d-flex align-items-center">
                    <div class="col-md-4">
                        <label >Name :</label>
                        <input type="text" class="form-control" id="empName" placeholder="Employee Name">
                    </div>
                    <div class="col-md-4">
                        <label>Mobile No :</label>
                        <input type="text" class="form-control" id="empNumber" placeholder="Mobile No.">
                    </div>
                    <div class="col-md-4">
                        <label >Address : </label>
                        <input type="text" class="form-control" id="empAddress" placeholder="Address">
                    </div>
                </div>

                <div class="row mb-3 d-flex align-items-center">
                    <div class="col-md-4">
                        <label >Aadhar No :</label>
                        <input type="text" placeholder="Enter Aadhar No:" class="form-control my-3">
                    </div>
                    <div class="col-md-4">
                        <label for="myfile">Select a Aadhar Photo :</label>
                        <input type="file" placeholder=""  class="form-control my-3">
                    </div>
                    <div class="col-md-4">
                        <label for="myfile">Select a Profile Photo:</label>
                        <input type="file"  class="form-control my-3">
                    </div>
                </div>

                <div class="row mb-3 d-flex align-items-center">
                    <div class="col-md-4">
                        <label>Email Id:</label>
                        <input type="email" class="form-control" id="empEmail" placeholder="Email Address"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <!-- button -->
       <div class="text-center">
        <button class="btn btn-primary my-3 border-0" type="submit">Submit</button>
        <button class="btn btn-dark my-3 mx-3 border-0" type="button">cancel</button>
       </div>        
            </form>
        </div>  
    </div>
</div>

    <hr>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="header d-flex justify-content-center p-3">
                <h1>Employee Information</h1>
            </div>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No.</th>
                    <th>Address</th>
                    <th>Aadhar No</th>
                    <th>Aadhar Photo</th>
                    <th>Profile Photo</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Rushi</td>
                        <td>R@gmail.com</td>
                        <td>564123789</td>
                        <td>Kolhapur</td>
                    </tr>
                    <tr>
                        <td>Pratiksha</td>
                        <td>p@gmail.com</td>
                        <td>58461379</td>
                        <td>Jayshingpur</td>
                    </tr>
                    <tr>
                        <td>Shreys</td>
                        <td>S@gmail.com</td>
                        <td>887546123</td>
                        <td>Pune</td>
                    </tr>
                    <tr>
                        <td>Sujit</td>
                        <td>su@gmail.com</td>
                        <td>546879123</td>
                        <td>Sangli</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
